/* color: #2a7edd, #487ebc, #6d98c9, #91b2d7, #b6cbe4, #dae5f2,   #e1eaf5 BLUE OCEAN */
/* color: #181716, #2a2727,#393433, #453f3d, #57504d */

.navbar .navbar-brand {
    color: #2a7edd;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.navbar-nav .nav-link {
    color: #dae5f2;
}

.navbar-nav .nav-link:hover {
    color: #487ebc;
}

#home {
    background-color: #181716;
}

#home p {
    color: white;
}

#home p:nth-child(2) {
    color: #2a7edd;
}